/* *************** Wave Loader *************** */
.wave-loader {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.wave {
  width: 8px;
  height: 90px;
  background: linear-gradient(45deg, #ffdbac, #e0ac69);
  margin: 2.5px;
  animation: wave 1s linear infinite;
  border-radius: 5px;
}

.wave:nth-child(1) {
  animation-delay: 0.1s;
}
.wave:nth-child(2) {
  animation-delay: 0.2s;
}

.wave:nth-child(3) {
  animation-delay: 0.3s;
}

.wave:nth-child(4) {
  animation-delay: 0.4s;
}

.wave:nth-child(5) {
  animation-delay: 0.5s;
}

.wave:nth-child(6) {
  animation-delay: 0.6s;
}

.wave:nth-child(7) {
  animation-delay: 0.7s;
}

.wave:nth-child(8) {
  animation-delay: 0.8s;
}

.wave:nth-child(9) {
  animation-delay: 0.9s;
}

.wave:nth-child(10) {
  animation-delay: 1s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
