.scroll-top-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 999;
  bottom: 1.25rem;
  right: 1rem;
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 18px;
  background-color: #212529;
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 7px 7px 10px -5px rgba(0, 0, 0, 0.75);
}

.scroll-top-btn svg {
  width: 30px;
  height: 30px;
  fill: #ffdbac;
  transition: all 0.2s linear;
}

.scroll-top-btn:hover svg {
  width: 34px;
  height: 34px;
}
